
@{
    ViewBag.Title = "irenginio_ataskaita";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2 id="pageTitle">Įrenginių ataskaitos:</h2>

    <table style="width:100%" id="formos">
        <tr>
            <th>Id</th>
            <th>Įrenginio pavadinimas</th>
            <th>Įrenginio modelis</th>
            <th>Pridavimo data</th>
            <th>Atsiėmimo data</th>
            <th>Būsena</th>
            <th>Garantijos pabaigos data</th>
            <th>Kliento id</th>
            <th></th>
        </tr>
        <tr>
            <td>1</td>
            <td>Dell</td>
            <td>KS3500</td>
            <td>2018-09-08</td>
            <td>2018-11-05</td>
            <td>Grąžintas klientui</td>
            <td>2018-12-27</td>
            <td>@Html.ActionLink(16.ToString(), "kliento_informacija", "Home")</td>
            <td>@Html.ActionLink("Redaguoti", "registruoti_irengini", "Home")</td>
        </tr>
    </table>
</div>
