@{
    ViewBag.Title = "Išrašas";
}
<div>
    <form action="#" method="get" id="forma"><br>
        <fieldset><legend>Grąžinimo formos išrašas:</legend><br>
        <tr>
            <th>Užsakymo nr.: </th><td>123</td><br>
            <th>Data: </th><td>2018-10-28</td><br>
            <th>Kliento vardas ir pavardė: </th><td>Jonas Jonaitis</td><br>
            <th>Darbuotojo vardas ir pavardė: </th><td>Petras Petraitis</td><br>				
            <th>Grąžinimo priežastis: </th><td>Bloga kokybė</td><br>
            <th>Grąžinimo būsena: </th><td>Užbaigtas</td><br>
        </tr>
        </fieldset>
    </form><br>
    <button type="button">Pildyti/redaguoti išrašą</button>
    <button type="button">Siųsti išrašą klientui</button>
</div>