
@{
    ViewBag.Title = "kliento_informacija";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>kliento_informacija</h2>

<div>
    <form action="#" method="get" id="forma">
        <br>
        <fieldset>
            <legend>Kliento informacija:</legend><br>
            <tr>

                <form action="#" method="get" id="forma"><br>

            <tr>
                <th>Paskyros id: </th>
                <td>16</td>
                <br>
                <th>Kliento vardas ir pavardė: </th>
                <td>Jonas Jonaitis</td>
                <br>
                <th>Telefono numeris</th>
                <td>865512348</td>
                <br>
                <th>El.paštas </th>
                <td>prieupes@gmail.com</td>
                <br>
            </tr>
    </form><br>
    <button type="button" onclick="location.href='@Url.Action("irenginio_ataskaita", "Home")'">Grįžti</button>
 
</div>
  
