@{
    ViewBag.Title = "Prekių sąrašas";
}
<div>
    @Html.ActionLink("+ Prekė", "preke_nauja", "Home")
    <br />
</div>
<div>

    <table style="width:100%; color:#8e8e8e" id="formos">
        @Html.
    </table>
</div>
