
@{
    ViewBag.Title = "Nauja prekė";
}

<div>
    <fieldset>
        <legend>Prekės informacija</legend>
        <form action="#" method="get" id="patvirtinti">
            Bar kodas:<br>
            <input type="number" name="price" value="">
            <br>
            Modelis:<br>
            <input type="text" name="mod" value="">
            <br>
            Pavadinimas:<br>
            <input type="text" name="name" value="">
            <br>
            Pavadinimas:<br>
            <input type="number" name="price" value="">
            <br>
            Sandelyje:<br>
            <input type="number" name="price" value="">
            <br>
            <br><br>
            <input type="submit" value="tvirtinti">
        </form>
    </fieldset>
</div>