
@{
    ViewBag.Title = "Informacijos keitimas";
}

<div>
    <fieldset>
        <legend>Prekės informacija</legend>
        <form action="#" method="get" id="patvirtinti">
            Barkodas: 7484161626497<br>
            Modelis:<br>
            <input type="text" name="mod" value="Asus">
            <br>
            Pavadinimas:<br>
            <input type="text" name="name" value="X441NA-GA190">
            <br>
            Pavadinimas:<br>
            <input type="number" name="price" value="800">
            <br>
            Sandelyje:<br>
            <input type="number" name="price" value="0">
            <br>
            <br><br>
            <input type="submit" value="tvirtinti">
        </form>
    </fieldset>
</div>