@{
    ViewBag.Title = "Sąskaitų sąrašas";
}

<div>
    <table style="width:100%; color:#8e8e8e" id="formos">
        <tr>
            <th>Serija</th>
            <th>Numeris</th>
            <th>Data</th>
            <th>teikėjas</th>
            <th>pirkėjas</th>
        </tr>
        <tr>
            <td>844414</td>
            <td>101</td>
            <td>2018-08-08</td>
            <td>T-PC</td>
            <td>Kompiuterių prekyba IS</td>
        </tr>
    </table>
</div>
